*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  min-height:100vh;
   display:flex;
  justify-content:center;
  align-items:center;
}
.container{
  color:red;
  background-color:yellow;
}
